<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definitions go here -->
    <bean id="vendingMachineDao" 
       class="com.mrr.vendingmachine.dao.VendingMachineDaoImpl"/>
   
    <bean id="vendingMachineDaoStub" 
       class="com.mrr.vendingmachine.service.VendingMachineDaoStubImpl"/>
   
    <bean id="auditDaoStub" 
       class="com.mrr.vendingmachine.service.VendingMachineAuditDaoStubImpl"/>
   
    <bean id="serviceLayer" 
       class="com.mrr.vendingmachine.service.VendingMachineServiceLayerImpl">
        <constructor-arg ref="vendingMachineDaoStub"/>
        <constructor-arg ref="auditDaoStub"/>           
    </bean>
    
</beans>